* {
    box-sizing: border-box;
}

body {
    background-image: url(static/bg.jpg);
    margin: auto;
}

h1 {
    text-align: center;
}

.full {
    height: 90%;
}

/*https://codepen.io/EvyatarDa/pen/waKXMd*/

header {
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 1em;
    margin: -1em;
    background-color: #F7CA18;
}

header a {
    color: #FFF;
    text-decoration: none;
    position: relative;
    z-index: 0;
    font-size: 1.5em;
}

form {
    background-color: black;
    width: 30em;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 5em;
}

form p.forgot {
    border-top: 1px #F7CA18 solid;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 1em;
}

img.image {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

/* van internet (laad icoon bier) https://codepen.io/clemishow/pen/ZYPPeE */

#glass {
    width: 70px;
    height: 90px;
    background: transparent;
    border: solid 3.5px white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 47%;
    overflow: hidden;
    transform: rotate(-20deg);
    -webkit-animation: glass 10s infinite;
}

#poignet {
    width: 30px;
    height: 55px;
    background: transparent;
    border: solid 3.5px white;
    position: absolute;
    left: 53%;
    border-radius: 0 16px 16px 0;
    border-left: none;
    transform: rotate(-20deg);
    -webkit-animation: poignet 10s infinite;
}

#beer {
    width: 58px;
    height: 84px;
    background: transparent;
    position: absolute;
    left: 6px;
    top: 0px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    &::before {
        content: "";
        width: 250px;
        height: 250px;
        background: #E8B504;
        position: absolute;
        top: 83px;
        left: -190px;
        transform: rotate(40deg);
        -webkit-animation: beer 10s infinite;
    }
}

/* ANIMATIONS */

@-webkit-keyframes beer {
    0% {
        transform: translateY(-5);
    }
    17% {
        transform: translateY(-82px);
    }
    100% {
        transform: translateY(-82px);
    }
}

@-webkit-keyframes glass {
    0% {
        transform: rotate(-20deg);
    }

    17% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@-webkit-keyframes poignet {
    0% {
        transform: rotate(-20deg);
    }
    17% {
        transform: rotate(0deg) translateX(5px) translateY(20px);
    }

    100% {
        transform: rotate(0deg) translateX(5px) translateY(20px);
    }
}

/*login form*/

main {
    width: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    text-align: center;
    padding-top: 2em;
    color: white;
}

.link:hover {
    color: white;
}

main input {
    margin: auto;
    font-size: 2em;
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    display: flex;
    padding-left: 0.5em;
}

main a {
    display: inline-flex;
    width: 6em;
    border: 0.2em solid #F7CA18;
    cursor: pointer;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    color: white;
    margin: 1em;
    height: 2em;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 0.3em;
}

main a:hover {
    color: #000;
    background-color: transparent;
}

main a p {
    z-index: 1;
    margin: auto;
}

p a {
    color: #f1c40f;
    display: contents;
    margin: auto;
    font-size: 1em;
    transition: none;
}

/* van site https://codepen.io/sazzad/pen/yNNNJG */

/* Thar Buttons */

a.animated-button.thar-one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

a.animated-button.thar-one:before {
    display: block;
    position: absolute;
    height: 0px;
    width: 100%;
    content: '';
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
}

a.animated-button.thar-two:before {
    display: block;
    position: absolute;
    height: 0px;
    width: 100%;
    content: '';
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
