html
  head
    meta(charset='UTF-8')
    title Login
    style
      include ../style/styles.css
  body
    main
      form(method='post', action='index.html')
        h1 Login
        input#email(type='email', name='email', placeholder=' Email')
        input#password(type='password', name='password', placeholder=' Password')
        a.btn.btn-sm.animated-button.thar-one(href='/1')
          p Login
        a.btn.btn-sm.animated-button.thar-two(href='https://untappd.com/create')
          p Sign up
          
        p.forgot
          | Forgot your password? 
          a.link(href='#') Click Here!