.navbar-nav {
    background-color: #FCBD12;
}

.nav-item {
    list-style-type: none;
    margin: auto;
}

.nav-item:hover {
    background-color: white;
    height: 100%;
    padding: 1.4em 0em 1.4em 0em;
}

.nav-item1 {
    text-align: center;
    list-style-type: none;
    flex: max-content;
}

.logonav {
    width: 4em;
}


.nav-link {
    display: inline;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-row {
    display: flex;
    margin: auto;
}

.hide{
    display: none;
}

h1 {
    text-align: center;
}

section{
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: left;
    padding-left: 1em;
}

form {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

form .button{
    background-color: yellow;
    grid-column-start: 1;
    grid-column: 2 / 3;
width: 100%;
margin: auto;
padding-top: 2em;
padding-bottom: 2em;
}